@font-face {
    font-family: myFirstFont;
    src: url(../fonts/spooky.otf);

}
body {
    background-color: black;
    font-family: MyFirstFont;
    letter-spacing: 5px;
}
h1 {
    color: red;
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
div#game-card {
    background-color: red;
    margin:auto;
    width:50%;
    text-align: center;
}
div#login-card{
    width:30%;
    margin:auto;
    background-color: red;
}
form {
    text-align: center;
    accent-color: red;
}
.input{
    color:red;
    background-color: black;
}

img {
    width: 450px;
    height: auto
}
span#bool-question button#yes{
    margin:auto;
    color:red;
    background-color: black;
}
span#bool-question button#no{
    margin:auto;
    color: red;
    background-color: black;
}
