@font-face {
    font-family: myFirstFont;
    src: url(../fonts/spooky.otf);

}
body {
    background-color: #383838;
    font-family: MyFirstFont;
    letter-spacing: 5px;
}
h1 {
    color: red;
    text-align: center;
    font-size: 70px;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
div#game-card {
    background-color: red;
    margin:auto;
    width:50%;
    text-align: center;
    background-image: url(../images/blood_card.png);
    background-position: center;
}
div#login-card{
    width:30%;
    margin:auto;
    background-color: red;
}
form {
    text-align: center;
    accent-color: red;
}
.input{
    color:red;
    background-color: black;
    border-radius: 10px;
    text-align: center;
}

#height{
    background-color: black;
    color: red;
    border-radius: 10px;
}

#gym{
    background-color: black;
    color: red;
    border-radius: 10px;
}

img {
    width: 450px;
    height: auto
}
button{
    border-radius: 10px;
    margin:auto;
    color: red;
    background-color: black;
}
img#animal-image{
    margin:auto;
    width: 75%;
}